{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h2>Технологии</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 2.2.19
      </li>
      <li class="list-group-item">
        Visual Studio Code 1.69.2
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Не все получается с первого раза, но я стараюсь)</p>
  </article>
</div>
{% endblock %} 